---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>It's time to upgrade this website</h2>
  <Greeting client:load messages={["You are doing great!", "One line at a time", "One more page?", "Let's make it happen!", "Just start coding"]} />
</BaseLayout>